.Content_GitHub{
    background-color: #3B4854;
    width: 75rem;
    height: 80px;
}
.Info_1{
    width:300px;
    height: 450px;
    background-color: #adb5bd;
    border-radius: 1.5rem;
    margin: 50px;
}
.search{
    width: 35rem;
    height: 40px;
    background-color: #adb5bd;
    border-radius: 0.5rem;
    margin-left: 450px; 
}
.Text_Search{
    margin-left: 20px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    margin: 2rem;
    color: #3B4854;
}
.Square_1{
    background-color: #adb5bd;
    height: 120px;
    width: 15rem;
    border-radius: 1rem;
}
.align_Items{
    display: flex;
    flex-direction: row;
}
.combined_Items{
    display: flex;
    color:honeydew;
}
.flex_square{
    display: flex;
    gap: 5rem;
   margin-top: 5rem;
   margin-left: -70px;
}
.Background{
    height: 100%;
    min-width: 10rem;
}
.Box{
    background-color:#adb5bd;
    width:40rem;
    height: 10rem;
    border-radius: 1rem;
    margin: 1.5rem;
    margin-top: 2.5rem;
    margin-left:-4.5rem;
}
i{
    font-size: 0.5rem;
   margin: 1.3rem;
}
.Text_Github{
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.3rem;
    margin-left: 30rem;
}
